
<div class="row">
  <div class="col-10 col-md-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">Register</div>
      <div class="card-body shadow-lg">
        <form [formGroup]="registrationForm" (submit)="onSubmit()">
          <div class="form-group col-12 mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="userName" />
            <span *ngIf="(userName.touched || isFormSubmitted) && userName.hasError('required')" class="error-msg">
              Name is required
            </span>
          </div>

          <div class="form-group col-12 mb-2">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email" />
            <span *ngIf="(email.touched || isFormSubmitted) && email.hasError('required')" class="error-msg">
              Email is required<br>
            </span>
            <span *ngIf="(email.touched || isFormSubmitted) && email.hasError('email')" class="error-msg">
              Invalid email
            </span>
          </div>

          <div class="form-group col-12 mb-3">
            <label for="passwrod" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" />
            <span *ngIf="(password.touched || isFormSubmitted) && password.hasError('required')" class="error-msg">
              Password is required<br>
            </span>
            <span *ngIf="(password.touched || isFormSubmitted) && password.hasError('minlength')" class="error-msg">
              Password must be at least 8 characters
            </span>
          </div>

          <div class="form-group col-12 mb-3">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword" />
            <span *ngIf="(confirmPassword.touched || isFormSubmitted) && confirmPassword.hasError('required')" class="error-msg">
              Confirm password is required<br>
            </span>
            <span *ngIf="(confirmPassword.touched || isFormSubmitted) && registrationForm.hasError('passwordMismatch')" class="error-msg">
              Password doesn't match
            </span>
          </div>

          <div class="form-group col-12 mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" placeholder="Optional" formControlName="phone" />
            <span *ngIf="(phone.touched || isFormSubmitted) && (phone.hasError('pattern') || phone.hasError('maxlength'))" class="error-msg">
              Invalid phone number
            </span>
          </div>

          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary submit-btn">Register</button>
            <button type="reset" class="btn btn-outline-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>