<nav class="navbar navbar-expand-lg bg-light shadow fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">AutoDealBD</a>

    <button type="button" class="navbar-toggler btn btn-primary" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse justify-between" id="collapseBasic" [collapse]="isCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/"
            (click)="!isCollapsed? isCollapsed = !isCollapsed : false">
            New Cars
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
            routerLinkActive="active" 
            routerLink="/used" 
            (click)="!isCollapsed? isCollapsed = !isCollapsed : false">
            Used Cars
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
            routerLinkActive="active" 
            routerLink="/post" 
            (click)="!isCollapsed? isCollapsed = !isCollapsed : false">
            Post Ad
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <div *ngIf="!isCollapsed" class="border-top border-4"></div>
        <li *ngIf="!isUserLoggedIn" class="nav-item">
          <a class="nav-link" 
            routerLink="/login" 
            routerLinkActive="active" 
            (click)="!isCollapsed? isCollapsed = !isCollapsed : false">
            Login
          </a>
        </li>
        <li *ngIf="!isUserLoggedIn" class="nav-item">
          <a class="nav-link" 
            routerLink="/register" 
            routerLinkActive="active"
            (click)="!isCollapsed? isCollapsed = !isCollapsed : false">
            Register
          </a>
        </li>
        <div *ngIf="isUserLoggedIn && !isCollapsed" class="border-top border-4">
          <li class="nav-item">
            <a class="nav-link" role="button" (click)="isCollapsed = !isCollapsed">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" (click)="isCollapsed = !isCollapsed">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" (click)="isCollapsed = !isCollapsed">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" (click)="onLogout()">Logout</a>
          </li>
        </div>
        <!-- 
          <li *ngIf="isUserLoggedIn()" class="nav-item">
          <a class="nav-link" role="button" (click)="onLogout()">Logout</a>
        </li> -->

        <div *ngIf="isUserLoggedIn && isCollapsed" class="btn-group" dropdown>
          <button id="button-animated" 
                  dropdownToggle 
                  type="button" 
                  class="btn btn-outline-success dropdown-toggle"
                  aria-controls="dropdown-animated">
            {{ userName }}<span class="caret"></span>
          </button>

          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
            <li role="menuitem">
              <a class="dropdown-item" href="#">Profile</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Messages</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" role="button" (click)="onLogout()">Logout</a>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>