<nav class="navbar navbar-expand-lg bg-light shadow fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">AutoDealBD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-between" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/">New Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/used">Used Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/post">Post Ad</a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li *ngIf="!isUserLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="!isUserLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <!-- <li *ngIf="isUserLoggedIn()" class="nav-item">
          <a class="nav-link" role="button" (click)="onLogout()">Logout</a>
        </li> -->

        <div *ngIf="isUserLoggedIn" class="btn-group" dropdown>
          <button id="button-animated" 
                  dropdownToggle 
                  type="button" 
                  class="btn btn-outline-success dropdown-toggle"
                  aria-controls="dropdown-animated">
            {{ userName }}<span class="caret"></span>
          </button>

          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
            <li role="menuitem">
              <a class="dropdown-item" href="#">Profile</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Messages</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" role="button" (click)="onLogout()">Logout</a>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>