h5 {
  font-weight: normal;
  color: royalblue;
}

.card {
  width: 250px;
  margin: 15px 2px 2px 2px;
}

.card img {
  width: 100%;
  transform: scale(1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.img-wrapper {
  max-height: 150px;
  overflow: hidden;
  position: relative;
  height: 150px;
}

.arrow-btn {
  position: absolute;
  bottom: -50%;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.card:hover img {
  transform: scale(1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.5;
}

.card:hover .arrow-btn {
  bottom: 0;
  opacity: 1;
  transition: all 0.25s ease-in-out;
}

.feature-tag {
  background-color: teal;
  color: white;
  border: 1px solid teal;
  border-radius: 25px;
  padding: 1px 6px;
  margin: 12px 5px 0 0;
  display: inline-block;
  font-size: 14px;
}

.address-tag {
  font-size: 12px;
}

@media(max-width: 450px) {
  .card {
    width: 100%;
  }
  .img-wrapper, .card img {
    width: calc(100vw - 40px);
    max-height: 200px; 
  }
}
