h1 {
  font-weight: normal;
}
.card {
  width: 300px;
  cursor: pointer;
}
.card img {
  transform: scale(1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
.img-wrapper {
  overflow: hidden;
  position: relative;
  height: 150px;
}
.arrow-btn {
  position: absolute;
  bottom: -50%;
  left: 0;
  right: 0;
  opacity: 0;
}
.card:hover img {
  transform: scale(1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.5;
}
.card:hover .arrow-btn {
  bottom: 0;
  opacity: 1;
  transition: all 0.25s ease-in-out;
}
